{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Classic Login Form Example</title>

  <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet"><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="{% static 'myapp\css\login.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
  <section class='login' id='login'>
    <div class='head'>
    <h1 class='company'>Confirm_password</h1>
    </div>
    <div class='form'>
    <form action="{% url 'confirm_password' %}" method="post" >
      
        {% csrf_token %}

        {% if pid %}
        <div class="alert alert-danger" role="alert">
            {{pid}}
        </div>
        {% endif %}
    <div class="row">

    <input type="hidden" class="text" placeholder="Enter your email " name="email" value="{{email}}">
    <br>
    <input type="text" name="otp" placeholder="Enter your otp" class="text" id=""><br><br>
 <input type="text" name="password" placeholder="Enter your password" class="text" id=""><br><br>
 <input type="text" name="c_password" placeholder="Enter your c_password" class="text" id=""><br><br>
 <input type="submit" placeholder='submit' class='btn-login' name="submit"><br>

    </form>
    </div>
  </section>

<!-- partial -->
  <script  src="{% static 'myapp\js\main.js' %}"></script>

</body>
</html>

