
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Classic Login Form Example</title>

  <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet"><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="{% static 'myapp\css\login.css' %}">

</head>
<body>
    <!-- Navbar-->
<br><br><br><br><br><br><br>
<section class='login' id='login'>
    <div class='head'>
    <h1 class='company'>forget_password</h1>
    </div>
    <div class='form'>
    <form action="{% url 'forget_password' %}" method="post" >
      
        {% csrf_token %}

        {% if eid %}
        <div class="alert alert-danger" role="alert">
        {{eid}}
        </div>

        {% endif %}
    <div class="row">

    <input type="text" placeholder='email' name="email" class='text' id='userid' required><br>
    <br>
    <a href="#"   id='do-login'><input type="submit" class="btn-login" value="submit"></a>
    </form>
    </div>
  </section>


  <script  src="{% static 'myapp\js\main.js' %}"></script>

</body>
</html>